/* 
  font-family: "Oswald", serif;
  font-family: "Oooh Baby", serif;
  font-family: "Urbanist", serif; 
  font-family: "Style Script", serif;
  font-family: "Oleo Script", serif;
*/

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Urbanist", serif;
}

/* ================================================================ */
/* Navbar */
.navbar-brand img{
  width: 120px;
}
.nav-link{
  padding: 12px 18px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #441752;
}
.nav-link:hover{
  color: #70128d;
}
.nav-link.btn-prime{
  background-color: #441752;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.nav-link.btn-prime:hover {
  background-color: #FADA7A;
  color: #441752;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}


/* ================================================================ */
/* Media-Query : Navbar  */
@media screen and (max-width: 576px){
  .navbar-brand img{
    width: 100px;
  }
}
   

/* ================================================================ */
/* Banner */
.banner{
  position: relative;
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(event-page-images/event-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .content h1{
  font-size: 75px;
  font-weight: 500;
  color: #FADA7A;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7), 
              0px 0px 15px rgba(250, 218, 122, 0.9), 
              0px 0px 30px rgba(250, 218, 122, 0.5); 
  }
.banner .content p{
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  line-height: 1.6;
}


/* ================================================================ */
/* Media-Query : Banner */
@media screen and (max-width: 991px){
  .banner .content h1{
    font-size: 65px;
  }
  .banner .content p{
    font-size: 22px;
  }
}
@media screen and (max-width: 768px){
  .banner .content h1{
    font-size: 55px;
  }
}
@media screen and (max-width: 576px){
  .banner{
    height: 85vh;
  }
  .banner .content h1{
    font-size: 40px;
  }
  .banner .content p{
    font-size: 17px;
  }
}


/* ================================================================ */
/* Content */
.content-wrapper{
  padding: 80px 20px 80px;
  width: 100%;
  height: auto;
  /* background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('event-page-images/wall-brick-white-painted.jpg'); */
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('event-page-images/event-content-background.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: inset 5px 5px 70px 35px rgba(0, 0, 0, 0.8);
}
.content-wrapper .content-container h2{
  font-size: 50px;
  font-weight: 500;
  color: #FADA7A;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7), 
               0px 0px 15px rgba(250, 218, 122, 0.9), 
               0px 0px 30px rgba(250, 218, 122, 0.5);     
}
.content-wrapper .content-container .row{
  margin-bottom: 10px;
}

/* ================================================================ */
/* ================================================================ */
/* Animation */
.content-wrapper .content-container .up {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}
.content-wrapper .content-container .up.show {
  transform: translateY(0);
  opacity: 1;
}
/* ================================================================ */
/* ================================================================ */

.content-container .card{
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  transform: scale(0.5); 
  opacity: 0; 
  transition: transform 0.7s ease-out, opacity 0.7s ease-out;
}
.content-container .card.animate {
  transform: scale(1); 
  opacity: 1; 
}
.content-container .card:hover{
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7), 
              0px 0px 10px rgba(175, 172, 164, 0.8), 
              0px 0px 15px rgba(250, 218, 122, 0.7);
  /* box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8); */
  transform: translateY(-4px);
}
.content-container .card img{
  height: 200px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.content-container .card:hover img{
  transform: scale(1.1);
}
.content-container .card .card-body .card-title{
  color: #441752;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 5px;
}
.content-container .card .card-body .card-text{
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: #000;
}
.content-container .card .card-body .section-button{
  background-color: #441752;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  margin: 0 auto; 
  display: inline-block; 
}
.content-container .card .card-body .section-button:hover {
  background-color: #FADA7A;
  color: #441752;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}


/* ================================================================ */
/* Media-Query : Content */
@media screen and (max-width: 991px){
  .content-wrapper .content-container h2{
    font-size: 45px;
  }
  .content-container .card .card-body .card-title{
    font-size: 20px;
  }
  .content-container .card .card-body .card-text{
    font-size: 16px;
  }
}
@media screen and (max-width: 768px){
  .content-wrapper .content-container h2{
    font-size: 40px;
  }
}
@media screen and (max-width: 576px){
  .content-wrapper{
    padding: 70px 16px 70px 16px;
  }
  .content-wrapper .content-container h2{
    font-size: 32px;
    margin-bottom: 25px;
    
  }
  .content-container .card .card-body .card-title{
    font-size: 18px;
  }
  .content-container .card .card-body .section-button{
    font-size: 14px;
  }
}
@media screen and (max-width: 360px){
  .content-wrapper .content-container h2{
    font-size: 28px;
  }
}


/* ================================================================ */
/* Footer */
.footer-wrapper{
  background-color:#fff; 
  width: 100%;
  height: auto;
  /* border-bottom: 2px solid #441752; */
}
.footer-section .title{
  font-size: 28px;
  font-weight: 500;
  color: #FADA7A;
}

/* contact */
.footer-wrapper .contact .address{
  font-size: 16px;
  text-decoration: none;
  color: #000;
}
.footer-wrapper .contact .phone{
  font-size: 16px;
}
.footer-wrapper .contact .mail{
  font-size: 16px;
  text-decoration: none;
  color: #000;
}
.footer-wrapper .contact .address:hover,
.footer-wrapper .contact .phone:hover,
.footer-wrapper .contact .mail:hover{
  color: #441752;
}
.footer-wrapper .social-icons .s-icon{
  color: #441752;
}
.footer-wrapper .social-icons .s-icon:hover {
  color: #FADA7A;
  animation: pulse 0.8s infinite;
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

/* quick-links */
.footer-wrapper .quick-links ul{
  list-style: none;
}
.footer-wrapper .quick-links ul a{
  color: #000;
  text-decoration: none;
  margin-bottom: 3px;
}
.footer-wrapper .quick-links ul a:hover{
  color: #441752;
}

.hr{
  height: 10px;
  color: #441752;
  width: 95%;
  margin: auto;
}

/* ================================================================ */
/* Powered-By */
.powered-wrapper{
  background-color:#fff; 
  width: 100%;
  height: auto;
}
.powered-wrapper .powered-container img{
  width: 130px;
}
.powered-wrapper .powered-container a{
  text-decoration: none;
  color: #441752;
}
.powered-wrapper .powered-container a:hover{
  color: #FADA7A;
}

/* ================================================================ */
/* Media Query : Powered-By */
@media screen and (max-width: 576px){
  .powered-wrapper .powered-container img{
    width: 100px;
  }
  .powered-wrapper .powered-container h3{
    font-size: 22px;
  }
}