/* 
  font-family: "Oswald", serif;
  font-family: "Oooh Baby", serif;
  font-family: "Urbanist", serif; 
  font-family: "Style Script", serif;
  font-family: "Oleo Script", serif;
*/

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Urbanist", serif;
}

/* ================================================================ */
/* Navbar */
.navbar-brand img{
  width: 120px;
}
.nav-link{
  padding: 12px 18px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #441752;
}
.nav-link:hover{
  color: #70128d;
}
.nav-link.btn-prime{
  background-color: #441752;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.nav-link.btn-prime:hover {
  background-color: #FADA7A;
  color: #441752;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}


/* ================================================================ */
/* Media-Query : Navbar  */
@media screen and (max-width: 576px){
  .navbar-brand img{
    width: 100px;
  }
}
   

/* ================================================================ */
/* Gallery  */
.gallery-section {
  padding: 60px 10px 75px 10px;
  width: 100%;
  height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('gallery-page-image/gallery-backgroud.jpg');
  /* background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('gallery-page-image/gallery-backgroud.jpg'); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.gallery-section .gallery-container{
  position: relative;
  top: 40px;
}
.gallery-section .gallery-container .section-title{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 50px;
  font-weight: 500;
  color: #FADA7A;
  text-transform: uppercase;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7), 
               0px 0px 15px rgba(250, 218, 122, 0.9), 
               0px 0px 30px rgba(250, 218, 122, 0.5);
}
.gallery-section .gallery-container .video-image-container .media-wrapper{
  position: relative;
  overflow: hidden;
  width: 100%; 
  padding-top: 75%; 
  border-radius: 15px;
}
.gallery-section .gallery-container .video-image-container .media-wrapper .media-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 0.3s ease-in-out;
}
.gallery-section .gallery-container .video-image-container .media-wrapper:hover .media-item {
  transform: scale(1.05); 
}
.gallery-section .overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: none; 
  justify-content: center;
  align-items: center;
}
.gallery-section .overlay .overlay-content {
  position: relative;
  width: 100%; 
  max-width: 500px; 
  max-height: 500px;
  margin: 0 20px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.6), 
              0px 0px 12px rgba(250, 218, 122, 0.6), 
              0px 0px 10px rgba(250, 218, 122, 0.5);
  border: 7px solid #FADA7A;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-section .overlay .overlay-content img,
.gallery-section .overlay .overlay-content video {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
}
.gallery-section .overlay .overlay-content .close-btn {
  position: absolute;
  width: fit-content;
  top: 0px;
  right: 0px;
  font-size: 28px;
  color: #FADA7A;
  border-radius: 50%;
  padding: 0px 10px;
  cursor: pointer;
  z-index: 1000;
}


/* ================================================================ */
/* Media-Query : Gallery  */
@media screen and (max-width: 991px){
  
}
@media screen and (max-width: 768px){
  .gallery-section .gallery-container .section-title{
    font-size: 36px;
  }
}
@media screen and (max-width: 576px){
  .gallery-section{
    padding-left: 12px;
    padding-right: 12px;
  }
  .gallery-section .gallery-container{
    top: 20px;
  }
  .gallery-section .gallery-container .section-title{
    padding-top: 23px;
    padding-bottom: 23px;
    font-size: 32px;
  }
}


/* ================================================================ */
/* Footer */
.footer-wrapper{
  background-color:#fff; 
  width: 100%;
  height: auto;
}
.footer-section .title{
  font-size: 28px;
  font-weight: 500;
  color: #FADA7A;
}

/* contact */
.footer-wrapper .contact .address{
  font-size: 16px;
  text-decoration: none;
  color: #000;
}
.footer-wrapper .contact .phone{
  font-size: 16px;
}
.footer-wrapper .contact .mail{
  font-size: 16px;
  text-decoration: none;
  color: #000;
}
.footer-wrapper .contact .address:hover,
.footer-wrapper .contact .phone:hover,
.footer-wrapper .contact .mail:hover{
  color: #441752;
}
.footer-wrapper .social-icons .s-icon{
  color: #441752;
}
.footer-wrapper .social-icons .s-icon:hover {
  color: #FADA7A;
  animation: pulse 0.8s infinite;
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

/* quick-links */
.footer-wrapper .quick-links ul{
  list-style: none;
}
.footer-wrapper .quick-links ul a{
  color: #000;
  text-decoration: none;
  margin-bottom: 3px;
}
.footer-wrapper .quick-links ul a:hover{
  color: #441752;
}

.hr{
  height: 10px;
  color: #441752;
  width: 95%;
  margin: auto;
}

/* ================================================================ */
/* Powered-By */
.powered-wrapper{
  background-color:#fff; 
  width: 100%;
  height: auto;
}
.powered-wrapper .powered-container img{
  width: 130px;
}
.powered-wrapper .powered-container a{
  text-decoration: none;
  color: #441752;
}
.powered-wrapper .powered-container a:hover{
  color: #FADA7A;
}

/* ================================================================ */
/* Media Query : Powered-By */
@media screen and (max-width: 576px){
  .powered-wrapper .powered-container img{
    width: 100px;
  }
  .powered-wrapper .powered-container h3{
    font-size: 22px;
  }
}